In [ ]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.linear_model import SGDClassifier
from sklearn import svm

In [ ]:
data = pd.read_csv("/content/diabetes.csv - diabetes.csv.csv")
data.drop(["Outcome","Pregnancies","SkinThickness",'Age',"BloodPressure"],axis=1,inplace=True)

data.replace(to_replace=0,value=data.mean(),inplace= True)
data.head(20)

    Glucose     Insulin        BMI  DiabetesPedigreeFunction
0     148.0   79.799479  33.600000                     0.627
1      85.0   79.799479  26.600000                     0.351
2     183.0   79.799479  23.300000                     0.672
3      89.0   94.000000  28.100000                     0.167
4     137.0  168.000000  43.100000                     2.288
5     116.0   79.799479  25.600000                     0.201
6      78.0   88.000000  31.000000                     0.248
7     115.0   79.799479  35.300000                     0.134
8     197.0  543.000000  30.500000                     0.158
9     125.0   79.799479  31.992578                     0.232
10    110.0   79.799479  37.600000                     0.191
11    168.0   79.799479  38.000000                     0.537
12    139.0   79.799479  27.100000                     1.441
13    189.0  846.000000  30.100000                     0.398
14    166.0  175.000000  25.800000                     0.587
15    100.0   79.799479  30.000000                     0.484
16    118.0  230.000000  45.800000                     0.551
17    107.0   79.799479  29.600000                     0.254
18    103.0   83.000000  43.300000                     0.183
19    115.0   96.000000  34.600000                     0.529

In [ ]:
X = data

In [ ]:
data.describe()

          Glucose     Insulin         BMI  DiabetesPedigreeFunction
count  768.000000  768.000000  768.000000                768.000000
mean   121.681605  118.660163   32.450805                  0.471876
std     30.436016   93.080358    6.875374                  0.331329
min     44.000000   14.000000   18.200000                  0.078000
25%     99.750000   79.799479   27.500000                  0.243750
50%    117.000000   79.799479   32.000000                  0.372500
75%    140.250000  127.250000   36.600000                  0.626250
max    199.000000  846.000000   67.100000                  2.420000

In [ ]:
label = pd.read_csv("/content/diabetes.csv - diabetes.csv.csv")
y = label["Outcome"]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.1, random_state =0)

In [ ]:
knn = KNeighborsClassifier(79)
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=79, p=2,
                     weights='uniform')

In [ ]:
x_pre = knn.predict(x_test)
print(knn.score(x_test,y_test))

0.8571428571428571

In [ ]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x_train,y_train)

In [ ]:
print(clf.score(x_test,y_test))

0.7142857142857143

In [ ]:
alf = SGDClassifier()
alf.fit(X,y)
print(alf.score(x_test,y_test))

0.33766233766233766

In [ ]:
a = svm.SVC()
a.fit(X,y)
print(a.score(x_test,y_test))

0.8441558441558441